# Virtual Environments
venv/
.venv/

# Python Cache
__pycache__/
*.py[cod]

# Environment Variables
.env
.env.*

# Jupyter
.ipynb_checkpoints/

# Output Files
outputs/*
!outputs/.gitkeep

# Logs
*.log

# VS Code
.vscode/

# OS Files
.DS_Store
Thumbs.db